   /*----- font family ------*/
   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&display=swap');

   @font-face {
      font-family: kalpurush;
      src: url(../fonts/kalpurush.ttf);
      src: url(../fonts/kalpurush.ttf) format('ttf'), url(../fonts/kalpurush.ttf) format('truetype')
   }

   // font-family: 'Poppins', sans-serif;
   // font-family: 'Quicksand', sans-serif;