/*--
    - Main_menu
-----------------------------------------*/
.navbar {

    .nav-item {

        .nav-link {
            font-family: $title-font-family;
            font-weight: 500;
        }
    }
}

/*--
    - Top news
-----------------------------------------*/
.top-news-bg {
    background-color: #f4f4f4;

    .top-news {
        margin: 5px 0 10px;

        span {
            font-size: 18px;
            font-weight: 500;
            color: $black;
            white-space: nowrap;

            i {
                color: $black;
                margin-right: 5px;
            }
        }

        .top-news-left {
            color: $black;
            padding: 5px 10px;
        }

        marquee {
            padding: 5px 0;

            span {
                margin-right: 20px;
            }
        }
    }
}

/*--
    - Photo gallery
-----------------------------------------*/
.photo-gallery {

    .title {
        background-color: $black;
        color: $white;
        text-align: center;

        h2 {
            font-size: 22px;
            font-weight: 500;
        }

        .swiper-prev,
        .swiper-next {
            background: #f26439;

            i {
                font-size: 34px;
                padding: 0 30px;
                vertical-align: middle;
            }
        }
    }

    .swiper {
        width: 100%;
        background-color: #f4f4f4;

        .swiper-slide {
            background-position: center;
            background-size: cover;
            max-width: 750px;
        }
    }
}

/*--
    - SuccessFul
-----------------------------------------*/
.successful {

    .successful-item {
        padding: 15px 20px;
        border-radius: 5px;

        .thumbnail {
            width: 80px;
            height: 80px;
        }
    }
}

/*--
    - Develop Partner
-----------------------------------------*/
.develop-partner {

    .develop-item {
        position: relative;
        padding: 4px;
        border-radius: 5px;
        height: 150px;

        .thumbnail {
            width: 80px;
            height: 80px;

            &::before,
            &::after{
                content: '';
                position: absolute;
                width: 50px;
                height: 2px;
                top: 0;
                right: 0;
                background: $main-color;
                z-index: 99;
            }

            &::after{
                width: 2px;
                height: 70px;
                top: 0;
                right: 0;
            }
        }
    }
}

/*--
    - Footer
-----------------------------------------*/
footer {
    background: #f4f4f4;

    .editor-border {
        border-left: 5px solid #ded6d4;
    }
}

/*--
    - News Details
-----------------------------------------*/
.details {

    .details-header {
        margin-bottom: 20px;
        padding: 20px 15px;
        border-bottom: 1px solid $grey-300;

        .news-info {
            margin: 10px 0;
            padding: 10px 0;
            justify-content: start;
            align-items: center;

            .author-img {
                width: 38px;
                height: 38px;
                border-radius: 100%;
                margin-right: 10px;
            }

            .reporter {

                p {
                    display: block;
                    margin-bottom: 0;
                }
            }
        }

        .share {
            padding-left: 10px;
            border-left: 1px solid $grey-300;

            li {
                margin-right: 10px;
                background: $grey-300;
                border-radius: 5px;

                a {
                    padding: 10px;

                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .news-details {

        p {
            font-size: 18px;
        }

        img {
            max-width: 100%;
        }
    }
}